// @import "blocks/advantages.less"

.advantages__banner {
  .font-property(400; 18px; 26px);
}

.advantages__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 20px;
  padding-bottom: 20px;

  &--real-life,
  &--devil-bridge {
    background-color: @blue-basic;
    color: @basic-white;
  }

  &--small-city,
  &--picturesque-road,
  &--tourist-free {
    background-color: @gray-index-back;
  }
}

.advantages__title {
  .font-property(700; 21px; 15px);
}

.advantages__specification {
  .font-property(400; 18px; 26px);
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-areas:
      "adv1 adv1 adv1"
      "adv2 adv2 adv2"
      "adv3 adv4 adv5";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__item {
    &:not(:first-child) {
      min-height: 256px;
    }

    &--real-life {
      grid-area: adv1;

      &:not(:last-child) {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }
    }

    &--devil-bridge {
      grid-area: adv2;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    &--small-city {
      grid-area: adv3;
    }

    &--picturesque-road {
      grid-area: adv4;
    }

    &--tourist-free {
      grid-area: adv5;
    }
  }
}
