// @import "blocks/copyright.less";

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  &:hover {
    fill: @blue-basic;
  }

  &:active {
    fill: @basic-black;
    opacity: 0.3;
  }
}
