// @import "blocks/gallery.less"

.gallery {
  margin-top: 52px;
}

.gallery__item {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -25px;
    width: 100%;
    height: 1px;
    background-color: @gray-input-hover;
  }
}

.gallery__subject {
  text-align: start;
  margin-top: 5px;
  margin-bottom: 40px;
}

.gallery__title {
  .font-property(700; 14px; 24px);
  margin: 0;
}

.gallery__author {
  .font-property(400; 14px; 24px);
  text-transform: none;
  margin: 0;
}

.gallery__like {
  .font-property(700; 14px; 24px);
  text-transform: none;
  margin-top: 15px;
  margin-left: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 23px;
    height: 21px;
    background-image: url("../img/icons/icon-like.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .gallery__item {
    margin: 0;
    padding: 0;
    width: 50%;
    position: relative;

    &:first-of-type {
      width: 100%;
    }

    &::before {
      display: none;
    }
  }

  .gallery__photo {
    display: block;
  }

  .gallery__subject {
    background-color: @gray-input;
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gallery__title {
    width: 70%;
    margin-left: 20px;
  }

  .gallery__author {
    width: 70%;
    margin-left: 20px;
  }

  .gallery__like {
    width: min-content;
    position: absolute;
    top: auto;
    right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__item {
    width: 33.33%;
    position: relative;
  }

  .gallery__subject {
    background-color: fade(@basic-black; 30%);
    position: absolute;
    height: 80px;
    bottom: 0;
    color: @basic-white;
  }

  .gallery__like {
    &::before {
      background-image: url("../img/icons/icon-like-w.svg");
    }
  }
}
