// @import "blocks/gallery.less"

.gallery {
  text-align: center;
}

.gallery__item {
  margin: 0;
  margin-top: 20px;
}

.gallery__subject {
  text-align: start;
  margin-top: 10px;
  margin-bottom: 40px;
}

.gallery__title {
  .font-property(700; 14px; 24px);
  margin: 0;
}

.gallery__author {
  .font-property(400; 14px; 24px);
  text-transform: none;
  margin: 0;
}

.gallery__like {
  .font-property(700; 14px; 24px);
  text-transform: none;
  margin-top: 10px;
  margin-left: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 23px;
    height: 21px;
    background-image: url(../img/icons/icon-like.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 80px;
  }

  .gallery__item {
    margin: 0;
    width: 50%;
    position: relative;

    &:first-of-type {
      width: 100%;
    }
  }

  .gallery__subject {
    background-color: @gray-input;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    padding: 0;
  }

  .gallery__item {
    width: 33.33%;
    position: relative;
  }

  .gallery__subject {
    background-color: fade(@basic-black; 30%);
    position: absolute;
    bottom: 0;
    color: @basic-white;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .video-section {
    max-width: 800px;
  }

  .gallery__title {
    padding: 10px 20px;
  }

  .gallery__author {
    order: 1;
    padding-left: 20px;
  }

  .gallery__like {
    margin-left: auto;
    padding-right: 20px;
  }
}
