// @import "blocks/page-header.less";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 84px;
  width: 102px;
  z-index: 2;
}

.page-header__pic-block {
  height: 390px;
  background-image: url("../img/sedona-back-m.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: @gray-index-line;
  display: flex;
  align-items: center;
  justify-content: center;

  &--form,
  &--catalog {
    height: 300px;
    background-position-y: 90%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sedona-back-m@2x.jpg");
  }
}

.page-header__pic-text {
  width: 282px;
  height: 214px;
}

@media (min-width: @tablet-width) {
  .page-header__pic-text {
    width: 461px;
    height: 350px;
  }

  .page-header__pic-block {
    height: 520px;
    background-image: url("../img/sedona-back-t.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sedona-back-t@2x.jpg");
    }

    &--form,
    &--catalog {
      height: 300px;
      background-position-y: 90%;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__pic-block {
    background-image: url("../img/sedona-back-d.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sedona-back-d@2x.jpg");
    }
  }
}
