// @import "blocks/page-footer.less";

.page-footer {
  font-family: @font;

  &__hashtag {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: @basic-black;
    margin-top: 30px;
  }

  &__social {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__copyright {
    margin-bottom: 20px;
  }
}
