// @import "blocks/video.less"

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 1px;
    background-color: @gray-input-hover;
  }
}

.video__title {
  .font-property(700; 18px; 26px);
  margin: 0;
  margin-top: 3px;
}

.video__slogan {
  .font-property(400; 14px; 24px);
  width: 85%;
  margin-top: 30px;
  margin-bottom: 32px;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.video-poster {
  width: 100%;
}

.video__actions {
  margin: -50px 0 0 0;
  width: 90%;
}

.video__tools {
  background-color: @gray-input;
  display: flex;
  align-items: center;
  padding: 23px;
}

.video__tools-button {
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;

    .video__tools-icon {
      fill: @video-buttons-hover;
    }
  }

  &:active {
    .video__tools-icon {
      fill: fade(@video-buttons-hover; 30%);
    }
  }

  &--subtitles {
    margin: 0 30px 0 auto;
  }
}

.video__tools-icon {
  fill: @video-buttons;
  display: block;
  transition: fill 0.25s ease;
}

.video__progressbar {
  width: 100%;
  height: 45px;
  background-color: fade(@basic-black; 60%);
  position: relative;
}

.video__progressbar-line {
  width: calc(100% - 44px);
  height: 3px;
  background-color: fade(@basic-white; 20%);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22px;
}

.video__progressbar-toggler {
  display: block;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: @basic-white;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 56px;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .video {
    margin-top: 52px;
    margin-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;

    &::before {
      display: none;
    }
  }

  .video__title {
    .font-property(700; 30px; 28px);
  }

  .video__slogan {
    width: 70%;
    margin-bottom: 80px;
  }

  .video__wrapper {
    padding: 0;
  }

  .video__actions {
    margin: -95px 0 0 0;
    width: 100%;
    background-color: fade(@basic-black; 60%);
  }

  .video__progressbar {
    width: 65%;
    height: 90px;
    margin-left: 70px;
    background-color: transparent;
  }

  .video__tools {
    position: absolute;
    bottom: 12px;
    background-color: transparent;
  }

  .video__tools-button {
    background-color: transparent;

    &--reply {
      margin-left: 12px;
    }

    &--subtitles {
      margin-left: 475px;
    }
  }

  .video__tools-icon {
    fill: @basic-white;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-top: 60px;
    margin-bottom: 110px;
  }

  .video__wrapper {
    width: 800px;
  }

  .video__slogan {
    width: 42%;
    margin-bottom: 80px;
  }

  .video__tools-button {
    &:hover {
      cursor: pointer;

      .video__tools-icon {
        fill: fade(@basic-white; 60%);
      }
    }

    &:active {
      .video__tools-icon {
        fill: fade(@basic-white; 30%);
      }
    }

    &--subtitles {
      margin-left: 625px;
    }
  }
}
